/*
 * Comment here for crediting source.
 * Coloring scheme acquired from MSFT Excel.
 * They match well, and keep things simple.
 * May likely get replaced down the road with open-source content.
 */
/*
.xlsx-good {
    background-color: #C6EECE;
    color: #006000;
}
.xlsx-neutral {
    background-color: #FEEA9C;
    color: #9C5600;
}
.xlsx-bad {
    background-color: #FEC6CE;
    color: #9C0006;
}
*/